.dropdown {
  .content {
    transition: max-height 200ms;
    display: none;
    z-index: 9;

    &.get-in-enter {
      max-height: 0;
      display: block;
    }
    &.get-in-enter-done{
      max-height: 16rem;
      display: block;
    }
    &.get-in-enter-active {
      max-height: 16rem;
    }
    &.get-in-exit {
      max-height: 16rem;
      display: block;
    }
    &.get-in-exit-done {
      max-height: 0rem;
      display: none;
    }
    &.get-in-exit-active {
      max-height: 0rem;
      
    }
  }
}